# python
__pycache__
*.ipynb_checkpoints
*.pyc

# R

# osx

# Snakemake and Slurm
*.snakemake
*/slurm_logs
*slurm-*.out

# Folders
data
output
scratch
figs
*cachedir
wip
references

# Files
notebook/*/*.html
lib/python/test_xml.xml
*DS_Store*
*.mongodb
