# python
*__pycache__
*.ipynb_checkpoints
*.pyc

# R

# osx
*DS_Store*

# Snakemake and Slurm
.snakemake
slurm_logs
slurm-*.out

# Folders
data
output
references
cachedir
scratch
figures
website/content
_build
.*

# Files
notebook/*.html
lib/test_xml.xml
*.mongodb*
*.adapters
*.h5
*.log
