[submodule "lcdblib"]
	path = lcdblib
	url = git@github.com:lcdb/lcdblib
[submodule "snakemake"]
	path = snakemake
	url = https://bitbucket.org/snakemake/snakemake
[submodule "lcdb-wrapper-tests"]
	path = lcdb-wrapper-tests
	url = git@github.com:lcdb/lcdb-wrapper-tests
