atropos
bamtools
bcftools
bedtools
bioconductor-annotationhub
bioconductor-clusterprofiler
bioconductor-deseq2
bioconductor-dupradar
bioconductor-genomicfeatures
bioconductor-sva
bioconductor-tximport
biopython
bowtie2
cutadapt
deeptools
fastqc
fastq-screen
gat
gffutils
ghostscript
graphviz
hdf5
hisat2
intermine
intervalstats
ipython
jupyter
kallisto
lcdblib
matplotlib
mongodb
mongoengine
multiqc
nb_conda
notebook
numpy
openpyxl
pandas
pandoc
picard
pybedtools
pybigwig
pyfaidx
pymongo
pysam
pytables
pytest
pytest-xdist
python >=3.6
pyyaml
r-base >=3.4
r-codetools
r-dt
r-knitr
r-knitrbootstrap
r-pheatmap
r-readr
r-rmarkdown
salmon
samtools
scikit-learn
scipy
seaborn
snakemake
sramongo
subread
trackhub
ucsc-fetchchromsizes
ucsc-gtftogenepred
ucsc-liftover
ucsc-oligomatch
ucsc-twobittofa
watermark
xlrd
yaml
