{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block headerimg %}{% if page.headerimg %}{{ page.headerimg }}{% else %}{{ DEFAULT_HEADER_BG }}{% endif %}{% endblock %}

{% block content %}
<div class="container post">
  <div class="alert alert-danger">
    <strong>Note:</strong> These are preliminary results and could change at
    any time. Please contact me if you have questions. justin DOT m DOT fear AT
    gmail DOT com
  </div>

    <article>
        <header>
            <h1>{{ page.title }}</h1>
            {% if page.date %}
                <time datetime="page.date.isoformat()" pubdate>{{ page.locale_date }}</time>
            {% endif %}
        </header>

        <div class="article_content">
            {{ page.content }}
        </div>

    </article>
</div>

<style type="text/css">
{% include 'ipynb.css' %}
</style>

{% endblock %}
