.content {
    max-width: 1350px;
}

p {
    text-align: left;
    font-size: 15pt;
    font-weight: 300;
    padding-bottom: 20px;
}

input {
    margin: 4px;
    color: black;
    font-weight: bold;
}

.biosample {
    margin-bottom: 20px;
}

.actions {
    text-align: right;
}

.sample-desc h3 {
    margin-top: 0px;
    font-weight: 400;
}

.attr-name {
    text-align: left;
    font-size: 14pt;
    font-weight: bold;
    padding-right: 14px;
}

.attr-value {
    text-align: left;
    font-size: 14pt;
    font-weight: 300;
}

.checkbox-label{
    display: inline-block;
    min-width: 70px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
